.header {
    height: 100px;
    width: 100%;
    background:  rgb(62, 57, 107);
    position: relative;
}
.header__texture {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;left: 0;
    background: url(https://images.unsplash.com/photo-1422493757035-1e5e03968f95?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2880&q=80) center no-repeat;
    background-size: auto;
    z-index: 1;
    opacity: 0,6;

}
.header__navbar {
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.header__navbar--logo-title {
    color: white;
    font-size: 28px;
}


.header__navbar--menu-link {
    margin-left: 30px;
    color: white;
    text-decoration: none;
}

.h__slogan--title {
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-top: 330px;
}
.contenu-footer{
    z-index: 2;
    position: fixed;
    margin-top: 800px;
    font-size: 10px;
}
.ci {
    position: fixed;
    z-index: 1;
    margin-top: 870px;
    color: #fff;
}



